@import "./node_modules/bootstrap/scss/bootstrap.scss";
*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: auto;
    box-sizing: border-box;
}
.h20{
    height: 50%;
    width: 25%;
}
.ajouterPanier{
    font-size: 12;

    border-radius: 5px;
    color: white;
    background-color: blue;
}