@import "./node_modules/bootstrap/scss/bootstrap.scss";
*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color:black;
    
}
body{
    margin: auto;
    box-sizing: border-box;
}.navbar{
    background-color: rgb(243 233 241);
}
.nav-item{
    display: flex;
    align-items: center;
}
a:hover{
    text-decoration: none;
}
main{
    padding: 3rem 0 3rem;
}
.card-body{
    display: flex;
    justify-content: space-between;
}
.h20{
    height: 50%;
    width: 25%;
}
.ajouterPanier{
    font-size: 12;

    border-radius: 5px;
    color: white;
    background-color: blue;
}
footer{
    padding: 50px 0;
}
.bg-light{
    background-color: #F3E9F1 !important;
}
ul{
    margin-top: 1rem;
}